<h1 id="main_header">  <  Project_Flow  ></h1>
<div class="jumbotron">
  <p> Project Flow was made to Help you have a organized display of all your current and past work in your coding journey, while also display a beautiful and minilistic portofilio for friends on future employers to see. You can add new or current working project to your Project library. Any kind of code is welcomed here. Where it be <font color = "red">Ruby</font>, <font color = "951929">Ruby on Rails</font>, <font color = "E4C11B">Javascript</font>, <font color = "blue">Python </font>, you name , it we got you covered. </p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></p>
<center>
  <%= image_tag("python.png" ,style: 'width: 100px, height: 100px') %>
  <%= image_tag("ruby.png" ,style: 'width: 100px, height: 100px') %>
  <%= image_tag("javascript.png" ,style: 'width: 100px ,height: 100px') %>
</center >
</div>
