<h3> Create a new Project</h3>
<ul> Guide lines
<li > Please provide screen shot of App </li>
<li> Description should be short and to the point </li>
<li> Please rememeber to mark project as "Completed" if done so </li>
</ul>

<%= render 'projects/form', project: @project %>
